/* Start Variables */
:root {
  --mainColor: #10cab7;
  --pColor: #2c4570;
  --threeColor: #f6f6f6;
  --padddingSection: 60px 0;
  --secondColor: #777;
  --margin-top: 100px;
}
html {
  scroll-behavior: smooth;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: red;
  }
} */

/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* Small */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
  font-weight: 800;
}
.special-heading + p {
  margin-top: -30px;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767.98px){
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Component */
/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 60px;
}
header .container .links {
  position: relative;
}
header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .container .links .icon span {
  background-color: var(--pColor);
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
}
header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--threeColor);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
header .container .links:hover ul {
  display: block;
}
header .container .links ul:before {
  content: "";
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: inherit;
  width: 30px;
  height: 20px;
  position: absolute;
  top: -20px;
  right: 0;
}
header .container .links ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
header .container .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--pColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .links ul li:hover a {
  padding-left: 20px;
  font-size: 1.12em;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../imgs/moutain.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  margin: 0;
  text-align: center;
}
.landing .intro-text {
  width: 330px;
  max-width: 100%;
}
.landing .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff42;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--mainColor);
  font-size: 50px;
  font-weight: bold;
}
.type {
  width: 22.9ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  animation: typing 2s steps(22), blink .5s step-end 7 alternate forwards;
  -webkit-animation: typing 2s steps(22), blink .5s step-end 7 alternate forwards;
}
@media (max-width: 320.9px){
  .type {
    width: 22.4ch;
  }
  .landing .intro-text h1 {
    font-size: 40px;
    margin-left: 10px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
  100% {
    border-color: transparent;
  }
}
.landing .intro-text p {
  line-height: 1.8;
  font-size: 19px;
  opacity: 0;
  animation: hid 1s 2.1s forwards;
  -webkit-animation: hid 1s 2.1s forwards;
}
@keyframes hid {
  to {
    opacity: 1;
  }
}
/* End Landing Section */
/* Start Features  */
.features {
  padding: var(--padddingSection);
  background-color: var(--threeColor);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
}
.features .container .feat {
  padding: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.features .container .feat:hover {
  box-shadow: #00000040 7px 7px 10px 0px;
}
.features .container .feat i {
  color: var(--mainColor);
}
.features .container .feat h3 {
  font-weight: 900;
  margin: 30px 0;
}
.features .container .feat p {
  line-height: 1.8;
  color: var(--secondColor);
  font-size: 17px;
}
/* End Features  */
/* Start Services */
.services {
  padding: var(--padddingSection);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: var(--margin-top);
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767.98px){
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--mainColor);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
  position: relative;
}
.services .services-content .srv .text h3::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--mainColor);
  bottom: -5px;
  width: 0px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.services .services-content .srv:hover .text h3::before {
  width: 100%;
}
.services .services-content .srv .text p {
  line-height: 1.8;
  color: #444;
  font-weight: 400;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--pColor);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
  box-shadow: 0px 3px 10px black;
  animation: up-down 1s infinite alternate;
  -webkit-animation: up-down 2.5s infinite alternate;
}
@media (max-width: 1199.98px){
  .services .services-content .image-column {
    display: none;
  }
  .services .services-content .srv .text h3::before {
    content: none;
  }
}
@media (min-width: 991.98px){
  .services .services-content .srv .text h3 {
    width: fit-content;
  }
}
@keyframes up-down {
  to {
    translate: 0px 20px;
  }
}
/* End Services */

/* Start Portfolio */
.portfolio {
  padding: var(--padddingSection);
  background-color: var(--threeColor);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
  justify-content: center;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card .image {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.portfolio .portfolio-content .card img{
  max-width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0 0 10px;
}
.portfolio .portfolio-content .card .info p {
  color: var(--secondColor);
  line-height: 1.6;
}
.portfolio .portfolio-content .card:hover {
  box-shadow: 0px 3px 3px #0000001a;
}
.portfolio .portfolio-content .card:hover img {
  scale: 1.4;
  rotate: 5deg;
  opacity: 0.8;
}
.portfolio .btn {
  text-align: center;
  margin: 40px 0 0;
}
.portfolio .btn a {
  text-decoration: none;
  border: 1px solid var(--pColor);
  color: var(--pColor);
  padding: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .btn a:hover {
  background-color: var(--pColor);
  color: white;
  box-shadow: 0 0 10px var(--pColor);
}
/* End Portfolio */
.about {
  padding: var(--padddingSection);
}
.about .about-content {
  margin-top: var(--margin-top);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  right: -150px;
  border-bottom: 80px solid var(--mainColor);
  border-left: 80px solid var(--mainColor);
  width: 120px;
  height: 300px;
  top: -40px;
  z-index: -1;
  animation: dow 2s infinite alternate linear;
  -webkit-animation: dow 2s infinite alternate linear;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: var(--threeColor);
  top: -40px;
  left: -20%;
  z-index: -1;
  animation: imup 2s 3s infinite alternate linear;
  -webkit-animation: imup 2s 3s infinite alternate linear;
}
.about .about-content .image img {
  max-width: 100%;
  animation: imup 2s infinite alternate linear;
  -webkit-animation: imup 2s infinite alternate linear;
}
@keyframes imup {
  to {
    translate: 0px 7px;
  }
}
@keyframes dow{
  to {
    translate: 0px -8px;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  border-color: var(--mainColor);
  width: 50%;
  display: inline-block;
  margin: 0 25%;
}
.about .about-content .text p:last-of-type {
  margin: 30px;
  line-height: 2;
  color: var(--secondColor);
}
@media (max-width: 991.98px){
  .about .about-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .about .about-content .text {
    margin-top: 80px ;
  }
  /* Hidden Before And After */
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
/* End About  */

/* Start Contant */
.content {
  padding: var(--padddingSection);
  padding-bottom: 120px;
  background-color: var(--threeColor);
}
.contant .contant-content {
  margin-top: 50px;
}
.content .contant-content .text {
  text-align: center;
}
.content .contant-content .text h2 {
  color: #2a2a2a;
  margin: 40px 0 20px;
  font-weight: 800;
  font-size: 2em;
}
.content .contant-content .text > a {
  color: var(--mainColor);
  margin: 40px 0 20px;
  font-weight: 800;
  font-size: 2em;
  text-decoration: none;
}
@media (max-width: 767.98px){
  .content .contant-content .text > a {
    font-size: 1.6em;
  }
  .content .contant-content .text .icons h5 {
    font-size: 0.9em;
  }
}
.content .contant-content .text .icons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content .contant-content .text .icons h5 {
  font-weight: 400;
  font-size: 1.1em;
}
.content .contant-content .text .icons a {
  margin-left: 15px;
  color: #2a2a2a;
}
.content .contant-content .text .icons i.fa-youtube:hover {
  color: rgb(255, 69, 69);
}
.content .contant-content .text .icons i.fa-facebook:hover  {
  color: rgb(15, 91, 255);
}
.content .contant-content .text .icons i.fa-twitter:hover  {
  color: rgb(69, 128, 255);
}
/* End Contant */
/* Start Footer  */
footer {
  background-color: #2c4755;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 1.1em;
}
footer p a {
  color: var(--mainColor);
  font-weight: 600;
  text-decoration: none;
}
/* End Footer  */